# ide
########
.idea/
.vscode/

# python and backend
####################
venv/
__pycahce__/
instance/
htmlcov/
.coverage/
.pytest_cache/
*.pyc
*.egg-info/

# javscript and builds
######################
dist/
build/
node_modules/

# Logs and databases #
######################
*.log
*.sqlite3